<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/html">

<head>
    <meta charset="UTF-8"/>
    <title>Animal list</title>
</head>
<body>

<h1>Current animal list</h1>
<br/>


<table>
    <thead>
    <tr>
        <th>Type</th>
        <th>Age</th>
        <th>Name</th>
        <th>ID</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="animal : ${animals}">
        <td><span th:text="${animal.type}">type</span></td>
        <td><span th:text="${animal.age}">age</span></td>
        <td><span th:text="${animal.name}">name</span></td>
        <td><span th:text="${animal.id}">id</span></td>

        <td>
            <form th:action="@{/editAnimal}" th:object="${animal}">
                <input type="hidden" field="${type}">
                <input type="hidden" field="${age}">
                <input type="hidden" field="${name}">
                <input type="hidden" field="${id}">
                <input type="submit" value="Edit"/>
            </form>
        </td>

        <td>
            <form th:action="@{/deleteAnimal/{id}(id=${animal.id})}" th:object="${animal}">
                <input type="hidden" field="${animal}">
                <input type="submit" value="Delete"/>
            </form>
        </td>
    </tr>
    </tbody>
</table>


<br/>
<form action="/addAnimal">
    <input type="submit" value="Go to adding new animal">
</form>
<br/>
<form action="/">
    <input type="submit" value="Go to start page">
</form>

</body>
</html>