<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/html">

<head>
    <meta charset="UTF-8"/>
    <title>Animal list</title>
</head>
<body>

<h1>Current animal list</h1>
<br/>
<form action="/animalsList" th:object="${animals}">


    <table>
        <thead>
        <tr>
            <th>Type</th>
            <th>Age</th>
            <th>Name</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="animal : ${animals}">
            <td><span th:text="${animal.type}">type</span></td>
            <td><span th:text="${animal.age}">age</span></td>
            <td><span th:text="${animal.name}">name</span></td>
            <td>
                <form th:action="@{/deleteAnimal/{name}(name=${animal.name})}" th:object="${animal}">
                    <input type="hidden" field="${animal}">
                    <input type="submit" value="Delete"/>
                </form>
            </td>
        </tr>
        </tbody>
    </table>

</form>

<br/>
<form action="/addAnimal">
    <input type="submit" value="Go to adding new animal">
</form>
<br/>
<form action="/">
    <input type="submit" value="Go to start page">
</form>

</body>
</html>